In [1]:
import pandas as pd

In [54]:
yelp = pd.read_csv("./data/yelp_end.csv")

In [53]:
trip = pd.read_csv("./data/trip_final.csv")

In [7]:
trip_end = trip[["user_name","res_name","rating","review","menu"]]

In [8]:
trip_end.to_csv("./data/trip_end.csv")

In [9]:
trip_end.head(2)

,user_name,res_name,rating,review,menu
0,AppleTech,Korea House,5.0,We’d never had Korean before and I’d been want...,"['kimchijjigae', 'samgyeopsal']"
1,NickyD202,Korea House,5.0,I really was unsure of how much of the menu wo...,"['kimchijjigae', 'samgyeopsal']"

In [55]:
yelp.head(2)

,Unnamed: 0,user_name,res_name,rating,review,menu
0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5.0,We have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5.0,Seoul Garden was excellent. We moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."

In [49]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77402 entries, 0 to 77401
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  77402 non-null  int64
 1   user_name   77402 non-null  object
 2   res_name    77402 non-null  object
 3   rating      77402 non-null  object
 4   review      77402 non-null  object
 5   menu        77402 non-null  object
dtypes: int64(1), object(5)
memory usage: 3.5+ MB

In [26]:
yelp["rating"] = pd.to_numeric(yelp["rating"])

ValueError: Unable to parse string " short-ribs" at position 475

In [12]:
yelp.head(2)

,user_name,res_name,rating,review,menu
0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5.0,We have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5.0,Seoul Garden was excellent. We moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."

In [27]:
yelp["rating"].unique()

array(['5.0', '4.0', '2.0', '3.0', '1.0', ' short-ribs',
       ' but I mean they lied.... anyway food is good',
       ' tasty food. I wish it was a little closer',
       ' and the food is unique. I did like my order',
       '  work very well with the soups or as an appetizer before hand. Service was highly enjoyable',
       ' and this place will cure any hangover',
       " but you need to set some time aside if you're eating here.  It's not super fast",
       " you'll be able to get a nice selection of craft brewed options to choose from including Nicklebrook",
       ' they have so few reviews', ' 2 apps', ' I think',
       " you have to give us a table that can accommodate minimum of 6 people anyway! We didn't now they will charge 4 years or younger regardlessly. If we knew",
       ' then my waiter came after another 10-15 minutes and I told him that I advised the person that delivered my pho there was no salt and pepper on it. How does the kitchen send out \\"salt and pepper\\" dishes without salt and pepper? My waiter looked at me and then at the dish and said -\\"there\'s no salt and pepper\\". Yes- I know because I\'ve been staring at it for 20-25minutes. They took it off and offered to redo it-surely terrified the may return with salt less or pepper less next',
       " you've got to at least try it. Sadly",
       ' they go and get what you ask for right away. Maybe to get you to go faster? If I wanted to be In -n- Out of a joint',
       ' and calamari', ' and semi decent food late at night',
       ' etc ;]. Since Vegas is the city that never sleeps',
       " I'd do the same. If none of these things apply",
       ' if Chinatown is just as convenient',
       ' I had asked for an update and it was as if she was shocked',
       ' needing to grab a bite to eat while on a break',
       ' the food is awesome',
       " the ssamjang. It's a bit more americanized",
       ' which would had been better', ' service was attentive',
       ' mangues', ' affordability',
       ' I absolutely had to try it. It comes in a two-piece or four-piece order. For us',
       ' and lacking in tofu',
       ' and seat was a stool (where you can store your belongings inside while sitting on top) which some may find uncomfortable. Food was average',
       ' unlike the dried', ' the atmosphere is vibrant and fun',
       ' wonderful service', ' entree',
       ' one of which was the kimchi that Korean restaurants are known for.  My pork bone soup arrived',
       ' and it was all real yummy! Get here hungry',
       " I guess the restaurant could've used some renovation but that's not the point. Normally I'd give this place 2 stars because generally when I eat at a place that doesn't cost an arm and a leg",
       ' unlike a normal Korean restaurant', ' but beware', ' kimchi',
       ' and very bland',
       ' they have TONS of specials:  mostly drink specials',
       ' there were only a few other diners (early dinner) and it was very attentive service.  It was great that whenever we ordered more food',
       " don't fckin go here!! Save your money and go else where. As for the workers",
       " this table's grill actually worked and we were finally able to eat some food. Service really took a nosedive at this point. We never got refills on our drinks and our grill was pitch black and smoking badly before we finally got a change. We got KFC that was stone cold and hard. We asked for two more plates of bulgogi and only got one. At this point",
       ' Asian', " I've heard", ' and chili oil',
       " it's probably the place to go. I would also recommend this as a good first date place. It's not loud and you get to be adventurous with your food order and again",
       ' and then forgot - and at the end',
       ' but the service has left us upset and disappointed. plus they have super crappy ventilation',
       ' saying',
       " since I've seen people through the window slurping up the (overly clear) broth as late/early as 5am. Personally though",
       ' etc. etc. (and 25% off due to a previous coupon)',
       ' maybe dinner only. All and all its not a bad experience',
       " I just finished eating and couldn't choke down another bite.  But",
       " for example). Are these people kidding? Was their rent jacked up so much? There's a reason",
       ' chicken', ' but to hell with it',
       ' rice and kimchi. Too bad they do not open on weekends. Also wait time can be long (especially when there is a few customers waiting already) but is acceptable',
       ' the service',
       " with a blueish kind of hue that gives off a very mellow vibe.. almost as if you were dining in some alleyway at 3 AM in Korea where the only lighting you got was from the street lamps (imagine Korean dramas lol). It's definitely the place to go to if you just want to enjoy good company",
       ' if you wish', ' and guess what',
       " and then there's the Mexican chili sauce",
       " and it doesn't help that the dining space is small and all the tables are a little cramped. The only other thing I would change is their hours",
       ' and can get a bit greasy. KoMex is sort of the more healthier and \\"lighter\\" version of Kogi',
       ' he surely did! And just to think', ' service',
       ' enjoy the deliciousness', ' with avocado',
       ' the bowl was underseasoned and underwhelming.  Also',
       ' the Sweet Potato Trifle without a doubt the lightest and sweetest thanks to Cereal Milk Ice Cream and an airy Sponge Cake while the Fuyu Persimmon Cheesecake ate like one made with Ricotta amidst well-balanced Citrus and minty notes',
       ' you can eat so much more with much better taste', ' like me',
       ' it will feel more like a 5-star experience',
       ' let me state that there was so little beef and other veggies',
       ' third degree burn on his arm that he acquired in the Kitchen',
       ' horrible service', ' better service', ' the ddukboki',
       ' I will not be looking to frequent this restaurant as my first',
       ' Sura', ' they are free advertising', ' and also get Korean BBQ',
       ' they had improved the ramen significantly. I am willing to come back and try some other things from the Best Friend menu',
       ' if it is 2am and you are craving Korean and more to drink',
       ' but if you want something other than PBS',
       " is the establishment that hard up for money these days or did I turn them off? I didn't argue or make a scene to make anyone angry. Usually honor is at stake here",
       ' because if I can get some gumbo',
       ' then go here. If you want bugs in your food', ' big time',
       " but I can't.  This place is pretty good for the tourist or people who just want to try something a little different. Great meat",
       ' not big portion',
       ' they should have brought in the veteran servers so that people would have a good first impression. The food was fresh and good',
       " which I am comparing this one too. I was rating the overall experience not the quality of my food. Yelp serves as a place to review places based on your personal opinion not to name call or pick on an individual person. For those of you who might not be able to see JT's original comment",
       ' tofu and potato. Sadly', ' the food',
       ' and it just tastes sooo delicious.  AGAIN',
       ' and are perfect for a late-night treat',
       " clams and oysters at the bottom. There was also an egg in the boiling mixture.  When I broke it open it was soft boiled and possibly the best tasting egg I've ever had. I once read a book about this destitute girl from the jungles of Vietnam who became very well to do and moved to the states. One line of the book really impacted me: she spoke of how wasteful we are when Americans cook. How we throw away useful meat",
       ' and explained his reason behind Chopsticks + Forks. Overall',
       ' poutine',
       ' lettuce-all drenched in the special sauce-Good Prices',
       ' etc.. Get it all', ' the second you enter California',
       ' whatever'], dtype=object)

In [24]:
yelp = yelp.astype({"rating": "int"})

ValueError: invalid literal for int() with base 10: '5.0'

In [14]:
yelp.isnull().sum()

user_name    0
res_name     0
rating       0
review       0
menu         0
dtype: int64

In [13]:
trip_end.head(2)

,user_name,res_name,rating,review,menu
0,AppleTech,Korea House,5.0,We’d never had Korean before and I’d been want...,"['kimchijjigae', 'samgyeopsal']"
1,NickyD202,Korea House,5.0,I really was unsure of how much of the menu wo...,"['kimchijjigae', 'samgyeopsal']"

In [15]:
trip_end.isnull().sum()

user_name    7
res_name     0
rating       0
review       7
menu         0
dtype: int64

In [16]:
trip_end = trip_end.dropna()

In [17]:
trip_end.isnull().sum()

user_name    0
res_name     0
rating       0
review       0
menu         0
dtype: int64

In [18]:
trip_end.to_csv("./data/trip_end.csv")

In [21]:
yelp_trip = pd.concat([yelp, trip_end], axis=0)

In [22]:
yelp_trip

,user_name,res_name,rating,review,menu
0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5.0,We have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5.0,Seoul Garden was excellent. We moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4.0,I like this place a lot. One of the best Korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5.0,Korean Barbecue at its finest. The outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2.0,Food was ok. The food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
...,...,...,...,...,...
49335,MrsOS2014,Sam Sam Korean Fried Chicken,3,Only 2 veggie dishes on menu - vegetable noodl...,"['friedchicken', 'yangnyeomchicken']"
49336,Alison A,Sam Sam Korean Fried Chicken,4,We enjoyed ourselves so much we returned the n...,"['friedchicken', 'yangnyeomchicken']"
49337,addiction4travel,Sam Sam Korean Fried Chicken,4,Went with a couple of friends for dinner. Chic...,"['friedchicken', 'yangnyeomchicken']"
49338,152JoyB,Sam Sam Korean Fried Chicken,5,"We both enjoyed our meal at this restaurant, a...","['friedchicken', 'yangnyeomchicken']"
49339,LC888,Sam Sam Korean Fried Chicken,4,"The place was busy, doesn't take reservation a...","['friedchicken', 'yangnyeomchicken']"

In [23]:
yelp_trip = yelp_trip.astype({"rating": "int"})

ValueError: invalid literal for int() with base 10: '5.0'

In [56]:
# for i,j in enumerate(yelp["rating"]):
# #     print(i,j)
# #     break
for leng in range(len(yelp["rating"])):
#     print(type(leng))
    if (yelp["rating"][leng] == "1.0") or (yelp["rating"][leng] == "2.0") or (yelp["rating"][leng] == "3.0") or (yelp["rating"][leng] == "4.0") or (yelp["rating"][leng] =="5.0"):
        pass
    else:
        yelp["rating"][leng] = None

C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [43]:
print(yelp["rating"][0])

None

In [57]:
yelp["rating"].unique()

array(['5.0', '4.0', '2.0', '3.0', '1.0', None], dtype=object)

In [58]:
len(yelp)

77402

In [59]:
yelp = yelp.dropna()

In [60]:
len(yelp)

77294