In [1]:
import pandas as pd

In [4]:
yelp_trip_final = pd.read_csv("./data/yelp_trip_final.csv")

In [5]:
yelp_trip_final.head()

,Unnamed: 0,user_name,res_name,rating,review,menu
0,0,KgQnRvsPSrJJTOCp-reYZA,Seoul Garden Korean Restaurant,5,We have been here three times now and have lov...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
1,1,1goJa-4OKwc--vlISRm54g,Seoul Garden Korean Restaurant,5,Seoul Garden was excellent. We moved to this ...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
2,2,6agrhhelmT9DLUfx4EeZVA,Seoul Garden Korean Restaurant,4,I like this place a lot. One of the best Korea...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
3,3,AvaeN3hgxdytAEMlNud-FQ,Seoul Garden Korean Restaurant,5,Korean Barbecue at its finest. The outside doe...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."
4,4,wML8YiFzB1JuCfyhPptiSg,Seoul Garden Korean Restaurant,2,Food was ok. The food looks good in pictures b...,"['bulgogi', 'galbigui', 'kimchijjigae', 'doenj..."

In [6]:
yelp_trip_final = yelp_trip_final.drop(["Unnamed: 0"], axis=1)